In [1]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime
import os
import tweepy
import covid19

%matplotlib notebook

In [16]:
dfs = covid19.get_data_frames()
print(covid19.COUNTRIES)
# top 10 countries by cases
dfs[0].sort_values(dfs[0].columns[-1], ascending=False).head(10)

['United Kingdom', 'Italy', 'Spain', 'Germany', 'France', 'US', 'China', 'Korea, South', 'Japan']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20
225,NaN,US,37.0902,-95.7129,1,1,2,2,5,5,...,188172,213372,243762,275586,308853,337072,366667,396223,429052,461437
201,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,95923,104118,112065,119199,126168,131646,136675,141942,148220,153222
137,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,105792,110574,115242,119827,124632,128948,132547,135586,139422,143626
120,NaN,Germany,51.0000,9.0000,0,0,0,0,0,1,...,71808,77872,84794,91159,96092,100123,103374,107663,113296,118181
116,NaN,France,46.2276,2.2137,0,0,2,3,3,3,...,52128,56989,59105,64338,89953,92839,98010,109069,112950,117749
62,Hubei,China,30.9756,112.2707,444,444,549,761,1058,1423,...,67801,67802,67802,67802,67803,67803,67803,67803,67803,67803
133,NaN,Iran,32.0000,53.0000,0,0,0,0,0,0,...,44605,47593,50468,53183,55743,58226,60500,62589,64586,66220
223,NaN,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,...,25150,29474,33718,38168,41903,47806,51608,55242,60733,65077
213,NaN,Turkey,38.9637,35.2433,0,0,0,0,0,0,...,13531,15679,18135,20921,23934,27069,30217,34109,38226,42282
23,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,12775,13964,15348,16770,18431,19691,20814,22194,23403,24983

In [15]:
# top 10 countries by deaths
dfs[1].sort_values(dfs[1].columns[-1], ascending=False).head(10)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20,4/5/20,4/6/20,4/7/20,4/8/20,4/9/20
137,NaN,Italy,43.0000,12.0000,0,0,0,0,0,0,...,12428,13155,13915,14681,15362,15887,16523,17127,17669,18279
225,NaN,US,37.0902,-95.7129,0,0,0,0,0,0,...,3873,4757,5926,7087,8407,9619,10783,12722,14695,16478
201,NaN,Spain,40.0000,-4.0000,0,0,0,0,0,0,...,8464,9387,10348,11198,11947,12641,13341,14045,14792,15447
116,NaN,France,46.2276,2.2137,0,0,0,0,0,0,...,3523,4032,5387,6507,7560,8078,8911,10328,10869,12210
223,NaN,United Kingdom,55.3781,-3.4360,0,0,0,0,0,0,...,1789,2352,2921,3605,4313,4934,5373,6159,7097,7978
133,NaN,Iran,32.0000,53.0000,0,0,0,0,0,0,...,2898,3036,3160,3294,3452,3603,3739,3872,3993,4110
62,Hubei,China,30.9756,112.2707,17,17,24,40,52,76,...,3187,3193,3199,3203,3207,3210,3212,3212,3213,3215
120,NaN,Germany,51.0000,9.0000,0,0,0,0,0,0,...,775,920,1107,1275,1444,1584,1810,2016,2349,2607
23,NaN,Belgium,50.8333,4.0000,0,0,0,0,0,0,...,705,828,1011,1143,1283,1447,1632,2035,2240,2523
169,NaN,Netherlands,52.1326,5.2913,0,0,0,0,0,0,...,1039,1173,1339,1487,1651,1766,1867,2101,2248,2396